.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: #282B50;
}
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 4px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
}
.menu-burger__header span{
    background: #FFFFFF;
    top: 9px;
}
.menu-burger__header:after, .menu-burger__header:before{
    background: #FFFFFF;
    content: '';
}
.menu-burger__header:after{
    bottom: 0;
}
.menu-burger__header:before{
    top: 0;
}
.menu-burger__header {
    cursor: pointer;
    position: relative; 
    width: 33px;
    height: 22px;
    display: block;
    margin: 0px 0 0 60px;
}
.container{
    display: flex;
    align-items: center;
}
.logo{
    margin-left:30px;
}

.search-box{
    margin-left: 41.45px;
    position: relative;
}
.text-search__input{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 296px;
    height: 40px;
    border: 0.5px solid #8396AE;
    border-radius: 8px;
    background: transparent;
    color: #E0E0E0;
    padding-left: 16px;
}
.text-search__input::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #E0E0E0;

}
.text-field__aicon {
    position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;
      right: 0;
      width: 2.5rem;
      border-left: 0.5px solid #8396AE;
      cursor: pointer;
      color: #212529;
      transition: background-color 0.15s ease-in-out;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
  }


  .text-field__aicon:hover {
    color: #212529;
  }

.add__announcement{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 48px;
    left: 1180px;
    top: 16px;
    cursor: pointer;
    background: #EB5C01;
    border-radius: 12px;
    margin-right: 60px;
    text-decoration: none; 
    color: white; 
}
.add__announcement::before {
    content: "+";
    font-size: 20px;
    margin-right: 8px;
    background-color: #FF7A5C;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
  
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatar__container{
    margin-right: 32px;
}
.container__list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    display: flex;
    align-items: center;
    color: #6E8AC6;
}
.container__list >li{
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.container__list >li >img{
    display: block;
    margin: 0 auto;

}

.container__list >li >p{
    margin-bottom: 0;
}
